:root {
    --sfondo: #f6f8f9;
    --add-task: #47adf1;
    --primi: #45abea;
    --mal: #9c72e4;
    --ijh: #64c0a9;
    --sutms: #f29e33;
    --hr: #d863a1;
    --onstm: #b0c926;
    --rec: #48adeb;
    }
    .container {
    margin: 0 auto;
    width: 80%;
    }

    .logo {
    height: 100px;
    }
   
    .logotext {
    vertical-align: middle;
    color: var(--sfondo);
    font-size: 100px;
    }

    .btn-primo {
        background: var(--primi);
    }