html,body {
    height: 100%;
}
:root {
    --sfondo: #f6f8f9;
    --add-task: #47adf1;
    --primi: #45abea;
    --mal: #9c72e4;
    --ijh: #64c0a9;
    --sutms: #f29e33;
    --hr: #d863a1;
    --onstm: #b0c926;
    --rec: #48adeb;
    }
    .topbar {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    
    }

    .logo {
    height: 40px;
    vertical-align: middle;
    }
   
    .logotext {
    vertical-align: right;
    font-size: 20px;
    }
    .main {
        text-align: center;
    }

    .btn-primo {
        background: var(--primi);
        text-align: center;
        color: white;
        border-radius: 5px;
        border: 0px;
        
    }
    .btn-secondo {
        color: gray;
border-radius: 5px;
border: 0px;
    }

    .linea {
        background-color: white;
        height: 1px;
    }

    .editorial {
        border-radius: 5px;
        border: 0px;
        background: var(--primi);
        color: white;
    }

.check {
    border-radius: 50%;
    background: white;
    color: green;
    border-color: green;
}
.cross {
    border-radius: 50%;
    background: white;
    color: red;
    border-color: red;
}

.q1goals {
    border-radius: 5px;
        border: 0px;
        background: var(--mal);
        color: white;
}
.recuiting {
    border-radius: 5px;
        border: 0px;
        background: var(--ijh);
        color: white;
}
.mobile {
    border-radius: 5px;
        border: 0px;
        background: var(--sutms);
        color: white;
}